[run]
source = .
omit =
    tests/*
    venv/*
    **/migrations/*
    **/__pycache__/*
    **/*.pyc
branch = True
concurrency = multiprocessing
parallel = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == "__main__":
    pass
    raise NotImplementedError
    @abc.abstractmethod
    def __str__
    def __repr__
fail_under = 95
precision = 2
show_missing = True
skip_covered = False
sort = Cover

[html]
directory = htmlcov
title = YouTube SEO Blog - Coverage Report
